@import "tailwindcss/utilities";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "daisyui/dist/full.css";

body {
  font-family: "Noto Serif JP", serif; 
  font-weight: 400;
}

.english-display{
  font-family: "Playfair Display", serif;
}

.english{
  font-family: "Poppins", sans-serif;
}

.poppins{
  font-family: "Poppins", sans-serif;
}